/*
Author: Natalie Wittenbrook
Description: CSS file for Accordion Collapse
*/

.closed div.acol-content {
	display: block;
	max-height:0;
}

div.acol-content {
	overflow-y: hidden;
	max-height: 1000px;
	padding-top: 10px;
	transition-property: all;
	transition-duration: .75s;
	transition-timing-function: cubic-bezier(0.25, .1, 0.25, 1);
	padding-left: 1.5em;
}

h3.acol-header {
	background: url('../img/plus-min.png') 13px -22px no-repeat #ededed;
	padding: 10px 10px 10px 33px;
	cursor: pointer;
	color: #3D3D3D;
	font-size: 1em;
	line-height: 23px;
	margin-top: 0px;
	margin-bottom: 0px;
	-webkit-transition: background-position 0.5s ease;
	-moz-transition: background-position 0.5s ease;
    -o-transition: background-position 0.5s ease;
    transition: background-position 0.5s ease;    
}

.closed h3.acol-header {
	background-position: 13px 17px;
	-webkit-transition: background-position 0.5s ease;
	-moz-transition: background-position 0.5s ease;
    -o-transition: background-position 0.5s ease;
    transition: background-position 0.5s ease;
}